<div class="container">
  <p>user: <%= @user.username %></p>
  <p>created: <%= @user.created_at %></p>
  <p><%= link_to 'submissions', user_posts_path(@user) %></p>
  <p><%= link_to 'comments', user_comments_path(@user) %></p>
</div>
